body {
  font-family: Arial, Helvetica, sans-serif;
}

#tittle {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.feature {
  border-right: 1px solid #e0e0e0;
}

.feature:last-child {
  border: none;
}

.link-block-20 {
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  text-decoration: none;
  display: flex;
}

.button-primary-outline {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #933393;
  border-radius: 8px;
  align-items: center;
  padding: 17px 16px;
  display: flex;
}

.carousel {
  background: #f3f1ff;
  width: 832px;
  height: 270px;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("./assets/img/Vector-kiri.svg");
}

.carousel-control-next-icon {
  background-image: url("./assets/img/Vector-kanan.svg");
}
